<<<<<<< HEAD
$primary-color: #3498db;
$secondary-color: #2ecc71;
$accent-color: #e74c3c;
$base-font-family: 'Arial', sans-serif;
$base-font-size: 16px;
$line-height: 1.5;
$border-width: 1px;
$border-radius: 4px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$icon-path: '/assets/icons/';
=======
$primary-color: #3498db;
$secondary-color: #2ecc71;
$accent-color: #e74c3c;
$base-font-family: 'Arial', sans-serif;
$base-font-size: 16px;
$line-height: 1.5;
$border-width: 1px;
$border-radius: 4px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$icon-path: '/assets/icons/';
>>>>>>> 0f8dfb3b9400dea30437e79d84a8a927df4b27d9
$image-path: '/assets/images/'; 