@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Playfair+Display:wght@600&display=swap');
$breakpoint: 768px;

@mixin mediaPC {
    @media screen and (min-width: ($breakpoint)) {
        @content;
    }
}

@mixin mediaSP {
    @media screen and (max-width: ($breakpoint)) {
        @content;
    }
}

.br-sp {
    display: block;

    @include mediaPC() {
        display: none;
    }
}

body {
    position: relative;
    background-image: url(../images/top_bg.jpg);
    // background-position: center;
    // background-size: auto;
    // background-repeat: repeat;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
}

.form-wrap {
    position: relative;
    width: 90%;
    margin: 40px auto;
    background: #FFF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.1);

    @include mediaPC() {
        padding: 60px;

    }

    .form-ttl {
        font-size: 2.4rem;
        line-height: 1.8;
        text-align: center;
    }

    form {
        width: 90%;
        max-width: 600px;
        margin: 0 auto;

        .input-item {
            label {
                display: block;
                font-size: 1.6rem;
                text-align: left;
            }

            input {
                width: 100%;
                height: 40px;
                border: 1px solid #ddd;
                border-radius: 6px;
                padding: 10px;
                font-size: 1.6rem;

                &:focus {
                    outline: none;
                    border: 1px solid #5e83e7d7;
                }
            }

            .input-hosoku {
                font-size: 1.4rem;
                text-align: left;
                margin: 10px auto 40px;
            }
        }

        .hosoku-wrap {
            font-size: 1.6rem;
        }

        .calc-btn {
            background-color: transparent;
            border-radius: 6px;
            border: 1px solid #ddd;
            font-size: 2.0rem;
            margin: 40px auto;
            width: 100%;
            padding: 10px;
            background-color: #edb1fcd7;
            color: #FFF;
            position: relative;
            overflow: hidden;

            &:hover {
                cursor: pointer;
            }

            &::after {
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                right: 50%;
                z-index: -1;
                transition: all 1s;
                transform: translate(50%, -50%) scale(.3);
                animation-name: btnAnime;
                animation-fill-mode: backwards;
                animation-duration: 3s;
                animation-timing-function: ease;
                animation-direction: normal;
                background-color: #cc5ee7d7;
                // background-color: #db8eeed7;
                z-index: 1;
                animation-iteration-count: infinite;

                @keyframes btnAnime {
                    0% {
                        transform: scale(0);
                    }

                    100% {
                        transform: scale(100);
                    }
                }
            }

            span {
                position: relative;
                z-index: 2;
            }
        }
    }

    #errorMessages {
        display: none;
        font-size: 1.6rem;
        margin-top: 40px;
        color: #ff0000;
        background-color: #ff000010;
        border: 1px solid #ff0000;
        border-radius: 10px;
    }
}

.results-wrap {
    display: none;
    position: relative;
    width: 90%;
    margin: 40px auto;
    background: #FFF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.1);

    @include mediaPC() {
        padding: 60px;

    }

    .back-link.input {
        text-align: left;
        font-size: 1.6rem;
        line-height: 1;
        padding-left: 10px;

        a {
            position: relative;

            &::before {
                content: "";
                width: 8px;
                height: 8px;
                border-top: 1px solid #333;
                border-left: 1px solid #333;
                position: absolute;
                top: 50%;
                left: -10px;
                transform: translateY(-50%) rotate(-45deg);
            }

        }
    }

    h2 {
        font-size: 2.4rem;
        line-height: 1.8;
    }
}

.res-birthdate-wrap,
.res-name-wrap {

    margin-top: 40px;

    .ttl {
        font-size: 1.8rem;
        line-height: 1.5;
        text-align: left;

        .inputed-birthdate {
            font-size: 2.4rem;
        }

        .inputed-name {
            font-size: 2.4rem;
            margin-right: 10px;
        }
    }

    .res-wrap {
        width: 100%;
        border-collapse: collapse;

        .res-item {
            margin-bottom: 6px;
            // padding-bottom: 6px;
            padding: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            border-bottom: 1px solid #ededed;

            &.block {
                display: block;
            }

        }

        .res-ttl {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.8;
            text-align: left;
            width: 40%;
            // display: inline-block;
            // padding: 10px;
            &.w100{
                width: 100%;
            }
        }
        
        .res-contents {
            font-size: 1.6rem;
            line-height: 1.8;
            text-align: left;
            width: 60%;
            // display: inline-block;
            &.w100{
                width: 100%;
            }

            div {
                font-size: 2rem;
                line-height: 1.8;
                font-weight: 600;

                &.fw-normal {
                    font-weight: 500;
                    font-size: 1.6rem;
                }
            }

            .icon-wrap {
                // margin-left: 10px;
                display: inline-block;
                width: 60px;
                height: 10px;
                padding-left: 10px;
                position: relative;

                i {
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%, -50%);
                    font-size: 3.6rem;
                    color: #ddd;

                    &.upside-down {
                        transform: translate(50%, -50%) rotate(180deg);
                        // transform: rotate(180deg);
                    }

                    &.angle45 {
                        transform: translate(50%, -50%) rotate(45deg);
                        // transform:rotate(45deg);
                    }

                }

                .ans-val {
                    font-size: 2.0rem;
                    line-height: 1.5;
                    font-weight: 600;

                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%, -50%);
                }
            }
        }

        .res-contents--sub {
            font-size: 2rem;
            line-height: 1.5;
            font-weight: 600;
            text-align: left;
            padding-left: 20px;
        }
    }
}

.img-convert-table {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
}

#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
    line-height: 1;
    z-index: 99;

    a {
        background: #cc5ee7d7;
        text-decoration: none;
        color: #fff;
        width: 50px;
        height: 50px;
        /* padding: 28px 5px; */
        text-align: center;
        display: block;
        border-radius: 50%;
        opacity: 0.9;
        transition: all 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            font-size: 2.0rem;
        }
        &:hover{
            text-decoration: none;
            opacity: .5;
        }
    }
}