@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Playfair+Display:wght@600&display=swap");
.br-sp {
  display: block;
}
@media screen and (min-width: 768px) {
  .br-sp {
    display: none;
  }
}

body {
  position: relative;
  background-image: url(../images/top_bg.jpg);
}

.video {
  position: absolute;
  top: 0;
  left: 0;
}

.form-wrap {
  position: relative;
  width: 90%;
  margin: 40px auto;
  background: #FFF;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .form-wrap {
    padding: 60px;
  }
}
.form-wrap .form-ttl {
  font-size: 2.4rem;
  line-height: 1.8;
  text-align: center;
}
.form-wrap form {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}
.form-wrap form .input-item label {
  display: block;
  font-size: 1.6rem;
  text-align: left;
}
.form-wrap form .input-item input {
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px;
  font-size: 1.6rem;
}
.form-wrap form .input-item input:focus {
  outline: none;
  border: 1px solid rgba(94, 131, 231, 0.8431372549);
}
.form-wrap form .input-item .input-hosoku {
  font-size: 1.4rem;
  text-align: left;
  margin: 10px auto 40px;
}
.form-wrap form .hosoku-wrap {
  font-size: 1.6rem;
}
.form-wrap form .calc-btn {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 2rem;
  margin: 40px auto;
  width: 100%;
  padding: 10px;
  background-color: rgba(237, 177, 252, 0.8431372549);
  color: #FFF;
  position: relative;
  overflow: hidden;
}
.form-wrap form .calc-btn:hover {
  cursor: pointer;
}
.form-wrap form .calc-btn::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: -1;
  transition: all 1s;
  transform: translate(50%, -50%) scale(0.3);
  animation-name: btnAnime;
  animation-fill-mode: backwards;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-direction: normal;
  background-color: rgba(204, 94, 231, 0.8431372549);
  z-index: 1;
  animation-iteration-count: infinite;
}
@keyframes btnAnime {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100);
  }
}
.form-wrap form .calc-btn span {
  position: relative;
  z-index: 2;
}
.form-wrap #errorMessages {
  display: none;
  font-size: 1.6rem;
  margin-top: 40px;
  color: #ff0000;
  background-color: rgba(255, 0, 0, 0.062745098);
  border: 1px solid #ff0000;
  border-radius: 10px;
}

.results-wrap {
  display: none;
  position: relative;
  width: 90%;
  margin: 40px auto;
  background: #FFF;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .results-wrap {
    padding: 60px;
  }
}
.results-wrap .back-link.input {
  text-align: left;
  font-size: 1.6rem;
  line-height: 1;
  padding-left: 10px;
}
.results-wrap .back-link.input a {
  position: relative;
}
.results-wrap .back-link.input a::before {
  content: "";
  width: 8px;
  height: 8px;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%) rotate(-45deg);
}
.results-wrap h2 {
  font-size: 2.4rem;
  line-height: 1.8;
}

.res-birthdate-wrap,
.res-name-wrap {
  margin-top: 40px;
}
.res-birthdate-wrap .ttl,
.res-name-wrap .ttl {
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: left;
}
.res-birthdate-wrap .ttl .inputed-birthdate,
.res-name-wrap .ttl .inputed-birthdate {
  font-size: 2.4rem;
}
.res-birthdate-wrap .ttl .inputed-name,
.res-name-wrap .ttl .inputed-name {
  font-size: 2.4rem;
  margin-right: 10px;
}
.res-birthdate-wrap .res-wrap,
.res-name-wrap .res-wrap {
  width: 100%;
  border-collapse: collapse;
}
.res-birthdate-wrap .res-wrap .res-item,
.res-name-wrap .res-wrap .res-item {
  margin-bottom: 6px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  border-bottom: 1px solid #ededed;
}
.res-birthdate-wrap .res-wrap .res-item.block,
.res-name-wrap .res-wrap .res-item.block {
  display: block;
}
.res-birthdate-wrap .res-wrap .res-ttl,
.res-name-wrap .res-wrap .res-ttl {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8;
  text-align: left;
  width: 40%;
}
.res-birthdate-wrap .res-wrap .res-ttl.w100,
.res-name-wrap .res-wrap .res-ttl.w100 {
  width: 100%;
}
.res-birthdate-wrap .res-wrap .res-contents,
.res-name-wrap .res-wrap .res-contents {
  font-size: 1.6rem;
  line-height: 1.8;
  text-align: left;
  width: 60%;
}
.res-birthdate-wrap .res-wrap .res-contents.w100,
.res-name-wrap .res-wrap .res-contents.w100 {
  width: 100%;
}
.res-birthdate-wrap .res-wrap .res-contents div,
.res-name-wrap .res-wrap .res-contents div {
  font-size: 2rem;
  line-height: 1.8;
  font-weight: 600;
}
.res-birthdate-wrap .res-wrap .res-contents div.fw-normal,
.res-name-wrap .res-wrap .res-contents div.fw-normal {
  font-weight: 500;
  font-size: 1.6rem;
}
.res-birthdate-wrap .res-wrap .res-contents .icon-wrap,
.res-name-wrap .res-wrap .res-contents .icon-wrap {
  display: inline-block;
  width: 60px;
  height: 10px;
  padding-left: 10px;
  position: relative;
}
.res-birthdate-wrap .res-wrap .res-contents .icon-wrap i,
.res-name-wrap .res-wrap .res-contents .icon-wrap i {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 3.6rem;
  color: #ddd;
}
.res-birthdate-wrap .res-wrap .res-contents .icon-wrap i.upside-down,
.res-name-wrap .res-wrap .res-contents .icon-wrap i.upside-down {
  transform: translate(50%, -50%) rotate(180deg);
}
.res-birthdate-wrap .res-wrap .res-contents .icon-wrap i.angle45,
.res-name-wrap .res-wrap .res-contents .icon-wrap i.angle45 {
  transform: translate(50%, -50%) rotate(45deg);
}
.res-birthdate-wrap .res-wrap .res-contents .icon-wrap .ans-val,
.res-name-wrap .res-wrap .res-contents .icon-wrap .ans-val {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.res-birthdate-wrap .res-wrap .res-contents--sub,
.res-name-wrap .res-wrap .res-contents--sub {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: left;
  padding-left: 20px;
}

.img-convert-table {
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  line-height: 1;
  z-index: 99;
}
#page-top a {
  background: rgba(204, 94, 231, 0.8431372549);
  text-decoration: none;
  color: #fff;
  width: 50px;
  height: 50px;
  /* padding: 28px 5px; */
  text-align: center;
  display: block;
  border-radius: 50%;
  opacity: 0.9;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page-top a i {
  font-size: 2rem;
}
#page-top a:hover {
  text-decoration: none;
  opacity: 0.5;
}/*# sourceMappingURL=index.css.map */